<div>
  <p>
   Voici les instructions.<br/>
   Il faudra faire un commit GIT pour chaque nouvelle fonctionnalité ajoutée à l'application.<br/>
  </p>
  <ul>
    <li>
      Mettre en place in petit script python3 permettant d'avoir un serveur web et une vue REST qui retourne des données JSON simple de ce type:<br/>
      [{'name': 'sylvain', 'age': 29, 'sex': 'h'}, {'name': 'michele', 'age': 20 'sex': 'f'}]<br/>
      Tu peux ajouter plus de données.<br/>
    </li>
    <li>
      Mettre en place une vue angularjs qui affiche un tableau avec ces données: /#!/users
    </li>
    <li>
      Afficher l'age en vert si plus de 25 ans / rouge sinon
    </li>
    <li>
      Trier les données du tableau en JS (via un filter) sur la colonne age
    </li>
    <li>
      Mettre un champ input de type texte permettant de rechercher des prénoms.
      Le contenu du tableau va afficher uniquement les prénoms qui correspondent.
      La recherche devra être une recherche python.
    </li>
    <li>
      Mettre en place une vue angularjs qui affiche le détail d'un utilisateur /#!/users/{id}
    </li>
    <li>
      Mettre en place de la CSS dans le fichier SCSS pour que la page soit jolie (menus / contenu / tableaux ....)
    </li>
    <li>
     Ajouter un style différent sur les liens "Accueil" / "Voir la todo list" quand les onglets sont actifs
    </li>
    <li>
     Mettre à jour la documentation dans README.rst
    </li>
  </ul>
</div>
